<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="GroupSuite">
	<groups>
		<run>
			<include name="validlogin">		
			</include>
		</run>
	</groups>
  <test name="Testgroup">
    <classes>
      <class name="testng.TestNgGroups"/>
    </classes>
  </test> <!-- Testgroup -->
</suite> <!-- Suite -->
